.card.mt-3
  .card-body
    = t('member_events.header')
.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = Event.model_name.human
  .table-responsive
    = datagrid_form_for @member_events_grid, url: member_events_path
    = datagrid_table @member_events_grid
    = paginate @member_events_grid.assets
