.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = t('model.event._name')
  .table-responsive
    %table.table
      %tr
        %th
          = t 'simple_form.labels.event.name'
        %th
          = t 'simple_form.labels.event.location'
        %th
          = t 'simple_form.labels.event.event_start'
        %th
          = t 'simple_form.labels.event.event_end'
        %th
          = t 'simple_form.labels.event.deadline_signup'
        %th
      - @events.each do |event|
        %tr
          %td
            = event.name
          %td
            = event.location
          %td
            = I18n.l event.event_start
          %td
            = I18n.l event.event_end
          %td
            = I18n.l event.deadline_signup
            - if event.before_deadline_signup?
              = " (#{distance_of_time_in_words Date.today, event.deadline_signup})"
          %td
            .d-flex.model-buttons
              - if event.before_deadline_signup?
                - if event.registration_id
                  = button_to edit_registration_path(event.registration_id), class: 'btn btn-primary', method: :get do
                    = fa_icon 'pencil'
                - else
                  = button_to new_registration_path, class: 'btn btn-primary', method: :get, params: { event_id: event.id } do
                    = fa_icon 'plus'
