%tr
  - grid.html_columns(*options[:columns]).each do |column|
    %th{class: "#{datagrid_column_classes(grid, column)}"}
      - label =  t "simple_form.labels.#{grid.model_name.i18n_key.to_s.gsub('_grid', '').singularize}.#{column.name}"
      = label
      = datagrid_order_for(grid, column, options) if column.supports_order? && options[:order]
      - if filter = grid.filters.select{ |e| e.name == column.name }.first
        .filter-button.float-end{data: { action: 'click->datagrid#filterOpen', grid_name: grid.model_name.i18n_key, column_name: column.name, label: label}}
          - active_class = grid.filter_value_as_string(filter).present? ? 'active-filter' : ''
          = icon 'filter', [active_class]
