.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = t 'model.registration._name'
    .d-flex.model-buttons
      = button_to t('model.registration.get_invitation_as_pdf'), invitation_registration_path(format: :pdf), class: 'btn btn-secondary', method: :get
      = button_to t('helpers.submit.back'), event_path(@registration.event), class: 'btn btn-secondary', method: :get

  .card-body
    .row.mb-3
      .col
        = t 'model.registration.signup_date'
        .fw-bold=I18n.l @registration.created_at
      .col
        = t 'model.registration.last_edited'
        .fw-bold=I18n.l @registration.updated_at
      .col
        = t 'model.registration.total_price'
        .fw-bold=number_to_currency(@registration.total_price)
      .col
        = t 'model.registration.membership_fee'
        .fw-bold=number_to_currency(@registration.membership_fee)
        = t 'model.registration.hint_membership_fee'
      .col
        = t 'model.registration.grand_total'
        .fw-bold=number_to_currency(@registration.total_price + @registration.membership_fee)
    = simple_form_for @registration, url: manage_registration_path(@registration) do |f|
      = f.input :registration_state, collection: Registration.registration_states.symbolize_keys.keys, include_blank: false, include_hidden: false, label: t('model.registration_entry.registration_state')
      = f.input :paid_amount, as: :currency, disabled: true
      = f.input :add_payment_amount, as: :currency
      = f.submit class: 'btn btn-primary mt-3'

.card.mt-3
  .card-header
    = t 'model.payment._name'

  .table-responsive
    %table.table
      %tr
        %th
          = t 'simple_form.labels.payment.amount'
        %th
          = t 'model.payment.type'
        %th
          = t 'simple_form.labels.payment.year'
        %th
          = t 'simple_form.labels.payment.created_at'
      - @payments.each do |payment|
        %tr
          %td
            = number_to_currency payment.amount
          %td
            = t "simple_form.options.defaults.payment_type.#{payment.payment_type}"
          %td
            = payment.year
          %td
            = I18n.l payment.created_at


.card.mt-3
  .table-responsive
    %table.table
      %tr
        %th
          = t 'model.registration.registred_from'
        %th
          = t 'simple_form.labels.registration.registration_entries.accommodation'
        %th
          = t 'simple_form.labels.registration.registration_entries.is_vegetarian'
        %th
          = t 'simple_form.labels.registration.registration_entries.with_dog'
        %th
          = t 'model.registration.total_price'
        %th
          = t 'model.registration.membership_fee'
          %span{data: { 'bs-toggle': :tooltip }, title: t('model.registration.hint_membership_fee')}
            = icon 'question-circle'
        %th
          = t 'model.registration.grand_total'
      - @registration.registration_entries.each do |entry|
        %tr
          %td
            = entry.full_name
          %td
            = t "simple_form.options.defaults.accommodation.#{entry.accommodation}"
          %td
            = bool_to_icon entry.is_vegetarian
          %td
            = bool_to_icon entry.with_dog
          %td
            = number_to_currency(entry.price)
          %td
            = number_to_currency(entry.membership_fee)
          %td
            = number_to_currency(entry.price + entry.membership_fee)
            