.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = t Registration.model_name.human
    .d-flex.model-buttons
      = button_to t('model.registration.get_invitation_as_pdf'), invitation_registration_path(format: :pdf), class: 'btn btn-secondary', method: :get
      = button_to t('helpers.submit.back'), event_path(@registration.event), class: 'btn btn-secondary', method: :get

  .card-body
    .row.mb-3
      .col
        = t 'model.registration.signup_date'
        .fw-bold=I18n.l @registration.created_at
      .col
        = t 'model.registration.last_edited'
        .fw-bold=I18n.l @registration.updated_at
      .col
        = t 'model.registration.total_price'
        .fw-bold=number_to_currency(@registration.total_price)
    = simple_form_for @registration, url: manage_registration_path(@registration) do |f|
      = f.input :paid_amount, as: :currency, disabled: true
      = f.input :add_payment_amount, as: :currency
      = f.submit class: 'btn btn-primary mt-3'

.card.mt-3
  .card-header
    = Payment.model_name.human

  .table-responsive
    %table.table
      %tr
        %th
          = Payment.human_attribute_name(:amount_due)
        %th
          = Payment.human_attribute_name(:created_at)
      - @payments.each do |payment|
        %tr
          %td
            = number_to_currency payment.amount_due
          %td
            = I18n.l payment.created_at

.card.mt-3
  .table-responsive
    %table.table
      %tr
        %th
          = t 'model.registration.registred_from'
        %th
          = RegistrationEntry.human_attribute_name(:accommodation)
        %th
          = RegistrationEntry.human_attribute_name(:is_vegetarian)
        %th
          = RegistrationEntry.human_attribute_name(:with_dog)
        %th
          = t 'model.registration.total_price'
      - @registration.registration_entries.each do |entry|
        %tr
          %td
            = entry.full_name
          %td
            = t "simple_form.options.defaults.accommodation.#{entry.accommodation}"
          %td
            = bool_to_icon entry.is_vegetarian
          %td
            = bool_to_icon entry.with_dog
          %td
            = number_to_currency(entry.price)
            