.card.mt-3
  .card-header
    = Member.model_name.human
  .card-body
    .row
      .col-sm
        .fw-bold=@member.first_name
        = Member.human_attribute_name(:first_name)
      .col-sm
        .fw-bold=@member.last_name
        = Member.human_attribute_name(:last_name)
      .col-sm
        .fw-bold=@member.email
        = Member.human_attribute_name(:email)

.card.mt-3
  .card-header
    = User.model_name.human
  .card-body
    = simple_form_for @user do |f|
      = f.input :member_id, as: :hidden, input_html: { value: @member.id }
      = f.input :token, as: :hidden, input_html: { value: @token }
      - unless @member.email.present?
        = f.input :email, required: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
      = f.submit  class: 'btn btn-primary mt-3'
