.nested-fields
  = link_to_remove_association f, class: 'float-end text-danger' do
    %i.fa.fa-trash-alt
  = f.input :name
  = f.input :user_type, collection: RegistrationEntry.user_types.symbolize_keys.keys, include_blank: false, include_hidden: false
  = f.input :accommodation, collection: RegistrationEntry.accommodations.symbolize_keys.keys, include_blank: false, include_hidden: false
  = f.input :is_vegetarian, as: :boolean
  = f.input :with_dog
