.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = t('model.event._name')
    = button_to t('helpers.submit.create'), new_event_path, class: 'btn btn-primary', method: :get
  .table-responsive
    %table.table
      %tr
        %th
          = t 'simple_form.labels.event.name'
        %th
          = t 'simple_form.labels.event.location'
        %th
          = t 'simple_form.labels.event.event_start'
        %th
          = t 'simple_form.labels.event.event_end'
        %th
          = t 'simple_form.labels.event.deadline_signup'
        %th
      - @events.each do |event|
        %tr
          %td
            = event.name
          %td
            = event.location
          %td
            = event.event_start
          %td
            = event.event_end
          %td
            = event.deadline_signup
          %td
            .d-flex
              = button_to edit_event_path(event), class: 'btn btn-primary', method: :get do
                %i.fas.fa-pen
              = button_to event_path(event), class: 'btn btn-danger', method: :delete, data: { confirm: t('helpers.submit.confirm') } do
                %i.fa.fa-trash-alt
