.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = t('model.event._name')
    = button_to t('helpers.submit.create'), new_event_path, class: 'btn btn-primary', method: :get
  .table-responsive
    = datagrid_form_for @events_grid, url: events_path
    = datagrid_table @events_grid
    = paginate @events_grid.assets
