.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = @event.name
    .d-flex.model-buttons
      = button_to t('model.event.send_invites'), send_invites_event_path(@event), class: 'btn btn-primary', method: :get, data: { confirm: t('model.event.send_invites_confirm') }
      = button_to t('helpers.submit.event.back'), events_path, class: 'btn btn-primary', method: :get
  .card-body
    .row.mb-3
      .col
        = t 'simple_form.labels.event.location'
        .fw-bold=@event.location
      .col
        = t 'simple_form.labels.event.event_start'
        .fw-bold=I18n.l @event.event_start
      .col
        = t 'simple_form.labels.event.event_end'
        .fw-bold=I18n.l @event.event_end
      .col
        = t 'simple_form.labels.event.deadline_signup'
        .fw-bold=I18n.l @event.deadline_signup
    = @event.description

.card.mt-3
  .card-header
    = t 'model.event.base_price'
  .card-body
    .row
      .col
        .fw-bold=number_to_currency(@event.fee_member)
        = t 'simple_form.labels.event.fee_member'
      .col
        .fw-bold=number_to_currency(@event.fee_student)
        = t 'simple_form.labels.event.fee_student'
      .col
        .fw-bold=number_to_currency(@event.fee_childen)
        = t 'simple_form.labels.event.fee_childen'
      .col
        .fw-bold=number_to_currency(@event.fee_guest)
        = t 'simple_form.labels.event.fee_guest'
.card.mt-3
  .card-header
    = t 'model.event.single_room_fee'
  .card-body
    .row
      .col
        .fw-bold=number_to_currency(@event.fee_member_single_room)
        = t 'simple_form.labels.event.fee_member_single_room'
      .col
        .fw-bold=number_to_currency(@event.fee_guest_single_room)
        = t 'simple_form.labels.event.fee_guest_single_room'

.row.mt-3
  .col
    .card
      .card-body
        .h2
          = @entries.where(accommodation: :single_room).count
        = t 'simple_form.options.defaults.accommodation.single_room'
  .col
    .card
      .card-body
        .h2
          = @entries.where(accommodation: :double_room).count
        = t 'simple_form.options.defaults.accommodation.double_room'
  .col
    .card
      .card-body
        .h2
          = @entries.where(with_dog: true).count
        = t 'simple_form.labels.registration.registration_entries.with_dog'
  .col
    .card
      .card-body
        .h2
          = @entries.where(is_vegetarian: true).count
        = t 'simple_form.labels.registration.registration_entries.is_vegetarian'

.card.mt-3
  .card-header
    = t 'model.registration._name'
  .table-responsive
    %table.table
      %tr
        %th
          = t 'model.registration.registred_from'
        %th
          = t 'model.registration.registred_with'
        %th
          = t 'simple_form.labels.registration.registration_entries.accommodation'
        %th
          = t 'simple_form.labels.registration.registration_entries.is_vegetarian'
        %th
          = t 'simple_form.labels.registration.registration_entries.with_dog'
        %th
          = t 'model.registration_entry.registration_state'
        %th
          = t 'model.registration.grand_total'
        %th
          = t 'model.registration_entry.paid_amount'
        %th
      - @event.registrations.each do |registration|
        - single_rooms = registration.registration_entries.where(accommodation: :single_room).count
        - double_rooms = registration.registration_entries.where(accommodation: :double_room).count / 2
        %tr
          %td
            = registration.member.full_name
          %td
            = registration.registration_entries.pluck(:name).join(', ')
          %td
            = "#{single_rooms}x #{t 'model.registration_entry.single_room_short'}, #{double_rooms}x #{t 'model.registration_entry.double_room_short'}"
          %td
            = "#{registration.registration_entries.where(is_vegetarian: true).count}x"
          %td
            = "#{registration.registration_entries.where(with_dog: true).count}x"
          %td
            = registration.registration_state
          %td
            = number_to_currency(registration.total_price + registration.membership_fee)
          %td
            = number_to_currency(registration.paid_amount)
          %td
            = button_to admin_edit_registration_path(registration), class: 'btn btn-primary', method: :get do
              %i.fas.fa-money-bill
          