.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = Album.model_name.human
    .d-flex.gap-2
      - if @album.persisted?
        = button_to album_path(@album), class: 'btn btn-danger', method: :delete do
          = t('helpers.submit.delete')
      = button_to albums_path, class: 'btn btn-secondary', method: :get do
        = t('helpers.submit.cancel')

  .card-body
    = simple_form_for @album do |f|
      = f.input :name
      = f.input :description, as: :text
      = f.association :event, collection: Event.order(:name), include_blank: false
      = f.submit class: 'btn btn-primary mt-2'