.space-y-2
  %h2
    = t('mails.invite.salutation', name: @member.full_name)
  %span= t 'mails.invite.welcome_text'
  %span= @event.description
.devider
%p
  .row
    .col-lg
      = t 'simple_form.labels.event.location'
      .fw-700=@event.location
    .col-lg
      = t 'simple_form.labels.event.event_start'
      .fw-700=I18n.l @event.event_start
    .col-lg
      = t 'simple_form.labels.event.event_end'
      .fw-700=I18n.l @event.event_end
    .col-lg
      = t 'simple_form.labels.event.deadline_signup'
      .fw-700=I18n.l @event.deadline_signup
.devider
%p
  %h4= t 'model.registration._name'
  = t 'mails.invite.registration_option'
  .row.mt-3
    .col-lg
      .text-center
        .fw-600
          = t 'mails.invite.registration_option_1'
        = t 'mails.invite.registration_option_digital'
        = link_to t('mails.invite.registration_button'), root_url(token: @token), class: 'btn btn-primary'
    .col-lg
      .text-center
        .fw-600
          = t 'mails.invite.registration_option_2'
        = t 'mails.invite.registration_option_paper'
