.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = Payment.model_name.human
    .row
      - if @payment.id.present?
        .col.p-0
          = button_to t('helpers.submit.delete'), payment_path(@payment), class: 'btn btn-danger', method: :delete
      .col
        = button_to t('helpers.submit.cancel'), member_payments_path(@member), class: 'btn btn-secondary', method: :get

  .card-body
    = simple_form_for @payment, url: member_payments_path(@member) do |f|
      = f.error :base, class: 'text-danger'
      = f.input :year
      = f.input :amount_due, as: :currency
      = f.error :amount_due, class: 'text-danger'
      = f.input :amount_payed, as: :currency
      = f.submit class: 'btn btn-primary mt-2'
