.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = Payment.model_name.human
    - if current_user.admin? && @member.present?
      .d-flex.model-buttons
        = button_to t('helpers.submit.create'), new_member_payment_path(@member), class: 'btn btn-primary', method: :get
        = button_to t('helpers.submit.back'), members_path, class: 'btn btn-secondary', method: :get
  .table-responsive
    = datagrid_form_for @payments_grid, url: payments_path
    = datagrid_table @payments_grid
    = paginate @payments_grid.assets
