!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tiedeapp
    = csrf_meta_tags
    = csp_meta_tag

    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}

    = favicon_link_tag asset_path('logo.png')

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags

    - translation_json = current_translations.to_json.gsub("\\n", "").gsub("'", "").html_safe
    :javascript
      window.I18n = JSON.parse('#{translation_json}')
  %body.bg-dark
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %a.navbar-brand
          = image_tag(image_path('logo.png'), width: 30, height: 30, class: 'd-inline-block align-top')
          Tiedeapp
        %button.navbar-toggler{ data: {bs: {toggle: 'collapse', target: '#navbarToggler'}}, aria: {controls: 'navbarToggler', expanded: false, label: 'Toggle navigation'}, type: 'button'}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse{ id: 'navbarToggler' }
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            = nav_item 'Home', root_path
            = nav_item 'Familientage', events_path, admin: true
            = nav_item 'Mitglieder', members_path
            = nav_item 'Zahlungen', payments_path, admin: true
            = nav_item 'Stammbaum', family_tree_path
          - if current_user
            = button_to t('login.logout'), session_path, class: 'btn btn-danger', method: :delete

    .container-fluid{id: :flashbox }
      - flash.each do |key, value|
        .alert.alert-dismissible.mt-3{class: "alert-#{key}", role: 'alert'}
          = value
          %button.btn-close.close{data: {bs: {dismiss: 'alert'}}, aria: {label: 'Close'}, type: 'button'}
    .container-fluid.pb-4
      = yield

    - if cookies[:allow_cookies].blank?
      = render 'layouts/cookie_banner'

    .footer
      = "Felix von Tiedemann • #{Date.today.year} • "
      = link_to t('imprint.title'), impressum_path
      = ' • '
      = link_to Rails.configuration.x.git_ref.gsub('refs/tags/', ''), 'https://github.com/felunka/tiedeapp'
