.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = Member.model_name.human
    - if current_user.admin?
      = button_to t('helpers.submit.create'), new_member_path, class: 'btn btn-primary', method: :get
  .table-responsive
    = datagrid_form_for @members_grid, url: members_path
    = datagrid_table @members_grid
    = paginate @members_grid.assets
