.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    = Member.model_name.human
    - if current_user.admin?
      .d-flex.model-buttons
        - if @show_hidden
          = link_to t('model.member.hide_hidden'), members_path, class: 'btn btn-primary', method: :get
        - else
          = link_to t('model.member.show_hidden'), members_path(show_hidden: "true"), class: 'btn btn-outline-primary', method: :get
        = button_to t('helpers.submit.create'), new_member_path, class: 'btn btn-primary', method: :get
  .table-responsive
    = datagrid_form_for @members_grid, url: members_path
    = datagrid_table @members_grid
    = paginate @members_grid.assets
